
        :root {
            --primary-red: #d32f2f;
            --primary-blue: #142c69ff;
            --accent-gold: #f9a826;
            --dark-gray: rgba(20, 44, 105, 0.926);
            --light-gray: #f8f9fa;
            --medium-gray: #6c757d;
            --light-red: #ffebee;
        }

        /* GENERAL */
        body {
            font-family: 'Segoe UI', system-ui, sans-serif;
            background: #ffffff;
            color: #333;
            line-height: 1.6;
            overflow-x: hidden;
        }